*{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

html {
  scroll-behavior: smooth;
}
:root{
    --blue: #0071ff;
    --yellow: #ffed00;
}


/* Barra de scroll */
body::-webkit-scrollbar {
  width: 17px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background-color: black ;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}

.kursor--2 {
  mix-blend-mode: exclusion;
}



body{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: url(images/home/home\ blue-04.jpg);
    background-size: cover;          /* adapta la imagen */
    background-position: center;     /* centra la imagen */
    height: 100vh;
    
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  background-color: black;
}


.flechita{
  width: 100px;
  animation: saltar 0.85s infinite ease-in-out;
  display: inline-block;
  position: relative;
}
@keyframes saltar {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -10px;
  }
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 30px 35px 40px 35px;
  border: 2px solid var(--yellow) ;
  border-radius: 50px;

  opacity: 1;
  animation: fadeDown 1.5s ease-in-out;
}
@keyframes fadeDown {
  from {
    opacity: 1;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo{
  max-height: 200px;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;    
}


.title-bar{

  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 50px 0px 100px 0px;
  border-top: 2px solid #0071ff;
  border-radius: 1px;
  
}
.contacto .title-bar{
  border-top: 2px solid black;
  
}

.container{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 100px;
}
.pareja{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.trabajo{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;

  opacity: 1;
  transform: translateY(150px);
  transition: transform 0.5s ease-out;
 
}
.trabajo.show {
  opacity: 1;
  transform: translateY(0);
}
.texto-trabajo{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.portada{
  border-radius: 15px;
  width: 100%;
}
.portada:hover{
  cursor: pointer;
}

.sobre-mi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-image: url(images/home/home\ yellow.png);
    background-size: cover;      
    background-position: center;     
    padding: 50px;
    gap: 50px;
    min-height: 100vh;
}
.texto-mi{
  gap: 50px;
  align-self: end;
}
.cv{
  max-width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

    background-image: url(images/home/end\ blue.png);
    background-size: cover;          /* adapta la imagen */
    background-position: center;     /* centra la imagen */
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 50px;
    gap: 100px;
    
}
.footer-bar{
 gap: 50px; 
}
.enlaces-contacto{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.mail{
  grid-column: span 2;
}


h1{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--yellow);
    font-size: 16pt;
 }
h1:hover{
    cursor: pointer;
 }
h2{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--blue);
    font-size: 36pt;
 }
.contacto h2{
    color: black;
 }
h3{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18pt; 
}
.trabajo h3{
  cursor: pointer;
}
.sobre-mi h4{
  color: var(--blue);
  text-align: justify;
  text-align-last: left;
}
h4{
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: var(--yellow);
}
.contacto h4{
    color: black;
    font-size: 16pt;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}
.contacto h4:hover{
    cursor: pointer;
}
h5{
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: grey;
}
.contacto h5{
  color: black;
  font-size: 16pt;
}
h6{
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: var(--yellow);
    align-self: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}



@media screen and (max-width: 1440px){

.home{
  border-radius: 40px;
  gap: 35px;
  padding: 25px 30px 35px 30px;

}
.logo{
  max-height: 150px;
}
.flechita{
  width: 80px;
}

h1{
    font-size: 12pt;
 }
h2{
    font-size: 36pt;
 }
h3{
    font-size: 16pt; 
}
h4{
    font-size: 12pt;
}
h5{
    font-size: 12pt;
}
}
@media screen and (max-width: 1000px){

.container{
  gap: 50px;
}
.pareja{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sobre-mi{
    display: flex;
    flex-direction: column;
}
.cv{
  display: none;
}
.enlaces-contacto{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.trabajo{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;

  opacity: 1;
  transform: translateY(75px);
  transition: transform 0.5s ease-out;
 
}
.trabajo.show {
  opacity: 1;
  transform: translateY(0);
}
}
@media screen and (max-width: 600px) {

.logo{
  max-height: 125px;
}
.home{
  gap: 30px;
  padding: 20px 25px 30px 25px;
  border-radius: 35px;
}
.sobre-mi{
    padding: 35px;
    height: auto;

}
.contacto{
    padding: 35px;
    height: auto;

}
.container{
  margin-bottom: 75px;
}
h2{
  font-size: 24pt;
}
.cv{
  max-width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

}
@media screen and (max-width: 450px){

  .logo{
    max-height: 100px;
    width: auto;
  }
  .home{
  gap: 25px;
  padding: 15px 20px 25px 20px;
  }
  .title-bar{

  margin: 35px 0px;
  
  }
  h1{
    font-size: 9pt;
  }
  h3{
    font-size: 11pt;
  }
  h4{
    font-size: 11pt;
  }
}